.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: "Montserrat", sans-serif;
  color: #0C0B0B;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.background{
  background-repeat: repeat-y;
  background-image: url('https://images.pexels.com/photos/1674049/pexels-photo-1674049.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2');
  background-size: auto auto;
  background-position-x: center;
  background-position-y: center;
  background-attachment: fixed;
  position: relative; 
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 1000px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.main{
  margin-top: none;
  margin-bottom: none;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.main-div-layout{
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: baseline;
  align-items: center;
}

/* button styling */
.button {
  padding: 1rem;
  border-radius: 1.5rem;
  min-width: 175px;
  margin: 0.25rem;
  box-sizing: border-box;
  transition: background-color 150ms;
  text-align: center;
  cursor: pointer;
  background-color: #cfcabf;
  color: #0C0B0B;
  text-decoration: none;
  box-shadow: var(--shadow-small);
  border: #0c0b0b77 solid 0.25px;
}

.button:hover{
  background-color: #FFFFFF;
  transition: ease 0.5s;
}

/* svg logo styling */
.nav__svg-logo{
  height: 20px;
}

.page_title{
  display: flex;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 0.7);
  padding: 60px 60px 60px 120px;
  margin-top: 50px;
  height: 250px;
  justify-content: center;
  justify-items: left;
  width: 100%;
}

.page-title__header{
  font-weight: bold;
  font-size: 40px;
  color: #072F2E;
}

.page-title__text{
  font-size: 20px;
  color: #072F2E;
}