.form-card-background{
    padding: 0.5rem;
    box-shadow: var(--shadow);
    border-radius: 0.5rem;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    width: 80%;
}

.form-card{
    margin: 0.5rem;
    padding: 1.5rem;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 0.5rem;
    box-shadow: var(--shadow-small);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: baseline;
}

.form-label-styling-width{
  width: 100%;
}
.form-label-styling{
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
}

.form-input{
    margin-left: 20px;
    width: 75%;
    
}

.button {
    padding: 0.5rem;
    border-radius: 1.5rem;
    min-width: 175px;
    margin: 0.25rem;
    box-sizing: border-box;
    transition: background-color 150ms;
    text-align: center;
    cursor: pointer;
    background-color: #00100F;
    color: #017481;
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
    box-shadow: var(--shadow-small);
    border: #00100F solid 0.25px;
  }
  
  .button:hover{
    background-color: #017481;
    color: #00100F;
    transition: ease 0.5s;
  }

  .create-form-button{
    width: 100%;
  }

.artistCreatedLabel{
    color: #85B7B6;
    /* background-color: #FFFFFF; */

  }

  .museumCreatedLabel{
    color: #85B7B6;
    /* background-color: #FFFFFF; */

  }