.ArtistCard{
    background-color: aliceblue;
    width: 300px;
    height: 300px;
    margin-right: 20px;

}

.display-container{
    display: flex;
    flex-direction: column;
    justify-items: space-between;
    margin-top: 20px;
    margin-bottom: 0px;
    margin-left: 30px;
}

