.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 16px;
    background-color: #072F2E;
    margin: 0;
    color: #85B7B6;
}

.header__logo {
    text-decoration: none;
    color: #85B7B6;
    font-weight: bold;
    font-size: 35px;
    text-decoration: none;
    margin-top: 10px;
    margin-bottom: 10px;
 }

.nav{
   align-items: center;
}
.nav__list {
   display: flex;
   list-style-type: none;
   justify-content: center;
   align-items: center;
   text-decoration: none;
   color: #85B7B6;
   justify-items: center;
   margin-bottom: 0;
}
   
.nav__item {
    margin-left: 30px;
    text-decoration: none;
    color: #85B7B6;
}

.nav__item a {
   text-decoration: none;
   color: #85B7B6;
}

#homeButton {
   text-decoration: none;
   color: #85B7B6;
}

.groupLogo{
   height: 35px;
}