.title{
    color: black;
    font-size: large;
    text-align: center;
    font-style: italic;
    text-shadow: white 1px 0 10px;
    font-weight: bold;
}
.mainContent{
    text-align: center;
    vertical-align:middle;
}

.frontText{
    color: #85B7B6;
    text-align: center;
}

.welcome{
    color: #85B7B6;
    text-align: center;
    min-height: 120px;
    max-height: 120px;
    vertical-align: super;
    margin-top: 50px;
}

.imageCaro{
    height: 650px;
    width: auto;
}
